@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
  color: #2d3748;
  @apply bg-gray-100 antialiased;
}

.container {
  @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

/* Menghapus garis bawah default dari router-link */
a,
.router-link-active,
.router-link-exact-active {
  text-decoration: none !important;
}

nav a {
  text-decoration: none !important;
  border-bottom: none !important;
}

a:hover,
a:focus,
a:active,
a:visited {
  text-decoration: none !important;
}
